name: Test Earliest Dependencies

on:
  push:
    branches: [ main ]
  pull_request:

permissions: {}

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.9"]

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
    - name: Install dependencies and force lowest bound
      run: |
        uv sync --upgrade --resolution lowest-direct
    - name: List installed Python packages
      run: uv pip list | tee "$(tty)" | uvx tabulate --header --format github >> $GITHUB_STEP_SUMMARY
    - name: Run tests
      run: uv run pytest
