name: Test Earliest Dependencies

on:
  push:
    branches: [ main ]
  pull_request:

permissions: {}

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.9"]

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
    - name: Install dependencies and force lowest bound
      run: |
        uv sync --upgrade --resolution lowest-direct
    - name: List installed Python packages
      run: uv pip list | tee "$(tty)" | uvx tabulate --header --format github >> $GITHUB_STEP_SUMMARY
    - name: Run tests
      run: uv run pytest
